// ------------------------------------------------------------
// COLUMN SETTINGS
// ------------------------------------------------------------
// https://github.com/propublica/column-setter
// ------------------------------------------------------------

// ------------------------------------------------------------
// GRID PROPORTIONS
// ------------------------------------------------------------

$mar: 4; // Margin width
$col: 3; // Column width
$gut: 2; // Gutter width
$pad: 1; // Padding width

$grid-color: red; // Grid overlay color

// ------------------------------------------------------------
// BREAKPOINTS
// ------------------------------------------------------------

$breakpoints: (
	xs: (cols:  4, min-width:  0,   margin: $pad), // Includes optional custom margin
	sm: (cols:  6, min-width: 30em, margin: $gut), // Includes optional custom margin
	md: (cols:  8, min-width: 40em),
	lg: (cols: 12, min-width: 50em),
	xl: (cols: 16, min-width: 60em)
);

$max-width: 70em; // For no max-width, use $max-width: null;