@import "reset";
@import "columnsettings";
@import "columnsetter";


// STYLES

* {
	box-sizing: border-box;
}

@include grid(main,overlay);

h1 {
	background-color: cyan;
	margin-bottom: .5em;
	@include full-width;
}

h2 {
	@include breakpoint-range(xs,sm) {
		color: red;
	}
}

p {
	background: #0f0;
	margin-bottom: .5em;
	@for $i from 1 through 12 {
		&:nth-of-type(#{$i}) {
			@each $bp, $value in $breakpoints {
				@include breakpoint-min($bp) { width: colspan($i, bp-attribute($bp, cols)); }
			}
		}
	}
}

code {
	font-family: monospace;
}
