/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.main {
  max-width: 70em;
  position: relative; }
  @media screen and (min-width: 0) {
    .main {
      margin: 0 3.8461538462%; } }
  @media screen and (min-width: 30em) {
    .main {
      margin: 0 2.5974025974%; } }
  @media screen and (min-width: 40em) {
    .main {
      margin: 0 8.1196581197%; } }
  @media screen and (min-width: 50em) {
    .main {
      margin: 0 5.6886227545%; } }
  @media screen and (min-width: 60em) {
    .main {
      margin: 0 4.3778801843%; } }
  @media screen and (min-width: 76.4367816092em) {
    .main {
      margin: 0 auto; } }
  .main:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none; }
    @media screen and (min-width: 0) {
      .main:before {
        background-image: repeating-linear-gradient(to right, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.1) 21.0526315789%, rgba(255, 0, 0, 0) 21.0526315789%, rgba(255, 0, 0, 0) 26.3157894737%); } }
    @media screen and (min-width: 30em) {
      .main:before {
        background-image: repeating-linear-gradient(to right, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.1) 13.7931034483%, rgba(255, 0, 0, 0) 13.7931034483%, rgba(255, 0, 0, 0) 17.2413793103%); } }
    @media screen and (min-width: 40em) {
      .main:before {
        background-image: repeating-linear-gradient(to right, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.1) 10.2564102564%, rgba(255, 0, 0, 0) 10.2564102564%, rgba(255, 0, 0, 0) 12.8205128205%); } }
    @media screen and (min-width: 50em) {
      .main:before {
        background-image: repeating-linear-gradient(to right, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.1) 6.7796610169%, rgba(255, 0, 0, 0) 6.7796610169%, rgba(255, 0, 0, 0) 8.4745762712%); } }
    @media screen and (min-width: 60em) {
      .main:before {
        background-image: repeating-linear-gradient(to right, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.1) 5.0632911392%, rgba(255, 0, 0, 0) 5.0632911392%, rgba(255, 0, 0, 0) 6.3291139241%); } }

h1 {
  background-color: cyan;
  margin-bottom: 0.5em;
  width: auto;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%); }

p {
  background: #0f0;
  margin-bottom: 0.5em; }
  @media screen and (min-width: 0) {
    p:nth-of-type(1) {
      width: 21.0526315789%; } }
  @media screen and (min-width: 30em) {
    p:nth-of-type(1) {
      width: 13.7931034483%; } }
  @media screen and (min-width: 40em) {
    p:nth-of-type(1) {
      width: 10.2564102564%; } }
  @media screen and (min-width: 50em) {
    p:nth-of-type(1) {
      width: 6.7796610169%; } }
  @media screen and (min-width: 60em) {
    p:nth-of-type(1) {
      width: 5.0632911392%; } }
  @media screen and (min-width: 0) {
    p:nth-of-type(2) {
      width: 47.3684210526%; } }
  @media screen and (min-width: 30em) {
    p:nth-of-type(2) {
      width: 31.0344827586%; } }
  @media screen and (min-width: 40em) {
    p:nth-of-type(2) {
      width: 23.0769230769%; } }
  @media screen and (min-width: 50em) {
    p:nth-of-type(2) {
      width: 15.2542372881%; } }
  @media screen and (min-width: 60em) {
    p:nth-of-type(2) {
      width: 11.3924050633%; } }
  @media screen and (min-width: 0) {
    p:nth-of-type(3) {
      width: 73.6842105263%; } }
  @media screen and (min-width: 30em) {
    p:nth-of-type(3) {
      width: 48.275862069%; } }
  @media screen and (min-width: 40em) {
    p:nth-of-type(3) {
      width: 35.8974358974%; } }
  @media screen and (min-width: 50em) {
    p:nth-of-type(3) {
      width: 23.7288135593%; } }
  @media screen and (min-width: 60em) {
    p:nth-of-type(3) {
      width: 17.7215189873%; } }
  @media screen and (min-width: 0) {
    p:nth-of-type(4) {
      width: 100%; } }
  @media screen and (min-width: 30em) {
    p:nth-of-type(4) {
      width: 65.5172413793%; } }
  @media screen and (min-width: 40em) {
    p:nth-of-type(4) {
      width: 48.7179487179%; } }
  @media screen and (min-width: 50em) {
    p:nth-of-type(4) {
      width: 32.2033898305%; } }
  @media screen and (min-width: 60em) {
    p:nth-of-type(4) {
      width: 24.0506329114%; } }
  @media screen and (min-width: 0) {
    p:nth-of-type(5) {
      width: 126.3157894737%; } }
  @media screen and (min-width: 30em) {
    p:nth-of-type(5) {
      width: 82.7586206897%; } }
  @media screen and (min-width: 40em) {
    p:nth-of-type(5) {
      width: 61.5384615385%; } }
  @media screen and (min-width: 50em) {
    p:nth-of-type(5) {
      width: 40.6779661017%; } }
  @media screen and (min-width: 60em) {
    p:nth-of-type(5) {
      width: 30.3797468354%; } }
  @media screen and (min-width: 0) {
    p:nth-of-type(6) {
      width: 152.6315789474%; } }
  @media screen and (min-width: 30em) {
    p:nth-of-type(6) {
      width: 100%; } }
  @media screen and (min-width: 40em) {
    p:nth-of-type(6) {
      width: 74.358974359%; } }
  @media screen and (min-width: 50em) {
    p:nth-of-type(6) {
      width: 49.1525423729%; } }
  @media screen and (min-width: 60em) {
    p:nth-of-type(6) {
      width: 36.7088607595%; } }
  @media screen and (min-width: 0) {
    p:nth-of-type(7) {
      width: 178.9473684211%; } }
  @media screen and (min-width: 30em) {
    p:nth-of-type(7) {
      width: 117.2413793103%; } }
  @media screen and (min-width: 40em) {
    p:nth-of-type(7) {
      width: 87.1794871795%; } }
  @media screen and (min-width: 50em) {
    p:nth-of-type(7) {
      width: 57.6271186441%; } }
  @media screen and (min-width: 60em) {
    p:nth-of-type(7) {
      width: 43.0379746835%; } }
  @media screen and (min-width: 0) {
    p:nth-of-type(8) {
      width: 205.2631578947%; } }
  @media screen and (min-width: 30em) {
    p:nth-of-type(8) {
      width: 134.4827586207%; } }
  @media screen and (min-width: 40em) {
    p:nth-of-type(8) {
      width: 100%; } }
  @media screen and (min-width: 50em) {
    p:nth-of-type(8) {
      width: 66.1016949153%; } }
  @media screen and (min-width: 60em) {
    p:nth-of-type(8) {
      width: 49.3670886076%; } }
  @media screen and (min-width: 0) {
    p:nth-of-type(9) {
      width: 231.5789473684%; } }
  @media screen and (min-width: 30em) {
    p:nth-of-type(9) {
      width: 151.724137931%; } }
  @media screen and (min-width: 40em) {
    p:nth-of-type(9) {
      width: 112.8205128205%; } }
  @media screen and (min-width: 50em) {
    p:nth-of-type(9) {
      width: 74.5762711864%; } }
  @media screen and (min-width: 60em) {
    p:nth-of-type(9) {
      width: 55.6962025316%; } }
  @media screen and (min-width: 0) {
    p:nth-of-type(10) {
      width: 257.8947368421%; } }
  @media screen and (min-width: 30em) {
    p:nth-of-type(10) {
      width: 168.9655172414%; } }
  @media screen and (min-width: 40em) {
    p:nth-of-type(10) {
      width: 125.641025641%; } }
  @media screen and (min-width: 50em) {
    p:nth-of-type(10) {
      width: 83.0508474576%; } }
  @media screen and (min-width: 60em) {
    p:nth-of-type(10) {
      width: 62.0253164557%; } }
  @media screen and (min-width: 0) {
    p:nth-of-type(11) {
      width: 284.2105263158%; } }
  @media screen and (min-width: 30em) {
    p:nth-of-type(11) {
      width: 186.2068965517%; } }
  @media screen and (min-width: 40em) {
    p:nth-of-type(11) {
      width: 138.4615384615%; } }
  @media screen and (min-width: 50em) {
    p:nth-of-type(11) {
      width: 91.5254237288%; } }
  @media screen and (min-width: 60em) {
    p:nth-of-type(11) {
      width: 68.3544303797%; } }
  @media screen and (min-width: 0) {
    p:nth-of-type(12) {
      width: 310.5263157895%; } }
  @media screen and (min-width: 30em) {
    p:nth-of-type(12) {
      width: 203.4482758621%; } }
  @media screen and (min-width: 40em) {
    p:nth-of-type(12) {
      width: 151.2820512821%; } }
  @media screen and (min-width: 50em) {
    p:nth-of-type(12) {
      width: 100%; } }
  @media screen and (min-width: 60em) {
    p:nth-of-type(12) {
      width: 74.6835443038%; } }

/*# sourceMappingURL=main.css.map */
