/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.main {
  max-width: 70em;
  position: relative; }
  @media screen and (min-width: 0) {
    .main {
      margin: 0 2.8169014085%; } }
  @media screen and (min-width: 30em) {
    .main {
      margin: 0 4.4247787611%; } }
  @media screen and (min-width: 40em) {
    .main {
      margin: 0 7.4074074074%; } }
  @media screen and (min-width: 50em) {
    .main {
      margin: 0 5.1282051282%; } }
  @media screen and (min-width: 60em) {
    .main {
      margin: 0 3.9215686275%; } }
  @media screen and (min-width: 75.9574468085em) {
    .main {
      margin: 0 auto; } }
  .main:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100; }
    @media screen and (min-width: 0) {
      .main:before {
        background-image: repeating-linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2) 4.5454545455%, rgba(255, 0, 0, 0.1) 4.5454545455%, rgba(255, 0, 0, 0.1) 13.6363636364%, rgba(255, 0, 0, 0.2) 13.6363636364%, rgba(255, 0, 0, 0.2) 18.1818181818%, rgba(255, 0, 0, 0) 18.1818181818%, rgba(255, 0, 0, 0) 27.2727272727%); } }
    @media screen and (min-width: 30em) {
      .main:before {
        background-image: repeating-linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2) 2.9411764706%, rgba(255, 0, 0, 0.1) 2.9411764706%, rgba(255, 0, 0, 0.1) 8.8235294118%, rgba(255, 0, 0, 0.2) 8.8235294118%, rgba(255, 0, 0, 0.2) 11.7647058824%, rgba(255, 0, 0, 0) 11.7647058824%, rgba(255, 0, 0, 0) 17.6470588235%); } }
    @media screen and (min-width: 40em) {
      .main:before {
        background-image: repeating-linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2) 2.1739130435%, rgba(255, 0, 0, 0.1) 2.1739130435%, rgba(255, 0, 0, 0.1) 6.5217391304%, rgba(255, 0, 0, 0.2) 6.5217391304%, rgba(255, 0, 0, 0.2) 8.6956521739%, rgba(255, 0, 0, 0) 8.6956521739%, rgba(255, 0, 0, 0) 13.0434782609%); } }
    @media screen and (min-width: 50em) {
      .main:before {
        background-image: repeating-linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2) 1.4285714286%, rgba(255, 0, 0, 0.1) 1.4285714286%, rgba(255, 0, 0, 0.1) 4.2857142857%, rgba(255, 0, 0, 0.2) 4.2857142857%, rgba(255, 0, 0, 0.2) 5.7142857143%, rgba(255, 0, 0, 0) 5.7142857143%, rgba(255, 0, 0, 0) 8.5714285714%); } }
    @media screen and (min-width: 60em) {
      .main:before {
        background-image: repeating-linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2) 1.0638297872%, rgba(255, 0, 0, 0.1) 1.0638297872%, rgba(255, 0, 0, 0.1) 3.1914893617%, rgba(255, 0, 0, 0.2) 3.1914893617%, rgba(255, 0, 0, 0.2) 4.2553191489%, rgba(255, 0, 0, 0) 4.2553191489%, rgba(255, 0, 0, 0) 6.3829787234%); } }

h1 {
  background-color: cyan;
  margin-bottom: 0.5em;
  width: auto;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%); }

p {
  background: #0f0;
  margin-bottom: 0.5em; }
  @media screen and (min-width: 0) {
    p:nth-of-type(1) {
      width: 18.1818181818%; } }
  @media screen and (min-width: 30em) {
    p:nth-of-type(1) {
      width: 11.7647058824%; } }
  @media screen and (min-width: 40em) {
    p:nth-of-type(1) {
      width: 8.6956521739%; } }
  @media screen and (min-width: 50em) {
    p:nth-of-type(1) {
      width: 5.7142857143%; } }
  @media screen and (min-width: 60em) {
    p:nth-of-type(1) {
      width: 4.2553191489%; } }
  @media screen and (min-width: 0) {
    p:nth-of-type(2) {
      width: 45.4545454545%; } }
  @media screen and (min-width: 30em) {
    p:nth-of-type(2) {
      width: 29.4117647059%; } }
  @media screen and (min-width: 40em) {
    p:nth-of-type(2) {
      width: 21.7391304348%; } }
  @media screen and (min-width: 50em) {
    p:nth-of-type(2) {
      width: 14.2857142857%; } }
  @media screen and (min-width: 60em) {
    p:nth-of-type(2) {
      width: 10.6382978723%; } }
  @media screen and (min-width: 0) {
    p:nth-of-type(3) {
      width: 72.7272727273%; } }
  @media screen and (min-width: 30em) {
    p:nth-of-type(3) {
      width: 47.0588235294%; } }
  @media screen and (min-width: 40em) {
    p:nth-of-type(3) {
      width: 34.7826086957%; } }
  @media screen and (min-width: 50em) {
    p:nth-of-type(3) {
      width: 22.8571428571%; } }
  @media screen and (min-width: 60em) {
    p:nth-of-type(3) {
      width: 17.0212765957%; } }
  @media screen and (min-width: 0) {
    p:nth-of-type(4) {
      width: 100%; } }
  @media screen and (min-width: 30em) {
    p:nth-of-type(4) {
      width: 64.7058823529%; } }
  @media screen and (min-width: 40em) {
    p:nth-of-type(4) {
      width: 47.8260869565%; } }
  @media screen and (min-width: 50em) {
    p:nth-of-type(4) {
      width: 31.4285714286%; } }
  @media screen and (min-width: 60em) {
    p:nth-of-type(4) {
      width: 23.4042553191%; } }
  @media screen and (min-width: 0) {
    p:nth-of-type(5) {
      width: 127.2727272727%; } }
  @media screen and (min-width: 30em) {
    p:nth-of-type(5) {
      width: 82.3529411765%; } }
  @media screen and (min-width: 40em) {
    p:nth-of-type(5) {
      width: 60.8695652174%; } }
  @media screen and (min-width: 50em) {
    p:nth-of-type(5) {
      width: 40%; } }
  @media screen and (min-width: 60em) {
    p:nth-of-type(5) {
      width: 29.7872340426%; } }
  @media screen and (min-width: 0) {
    p:nth-of-type(6) {
      width: 154.5454545455%; } }
  @media screen and (min-width: 30em) {
    p:nth-of-type(6) {
      width: 100%; } }
  @media screen and (min-width: 40em) {
    p:nth-of-type(6) {
      width: 73.9130434783%; } }
  @media screen and (min-width: 50em) {
    p:nth-of-type(6) {
      width: 48.5714285714%; } }
  @media screen and (min-width: 60em) {
    p:nth-of-type(6) {
      width: 36.170212766%; } }
  @media screen and (min-width: 0) {
    p:nth-of-type(7) {
      width: 181.8181818182%; } }
  @media screen and (min-width: 30em) {
    p:nth-of-type(7) {
      width: 117.6470588235%; } }
  @media screen and (min-width: 40em) {
    p:nth-of-type(7) {
      width: 86.9565217391%; } }
  @media screen and (min-width: 50em) {
    p:nth-of-type(7) {
      width: 57.1428571429%; } }
  @media screen and (min-width: 60em) {
    p:nth-of-type(7) {
      width: 42.5531914894%; } }
  @media screen and (min-width: 0) {
    p:nth-of-type(8) {
      width: 209.0909090909%; } }
  @media screen and (min-width: 30em) {
    p:nth-of-type(8) {
      width: 135.2941176471%; } }
  @media screen and (min-width: 40em) {
    p:nth-of-type(8) {
      width: 100%; } }
  @media screen and (min-width: 50em) {
    p:nth-of-type(8) {
      width: 65.7142857143%; } }
  @media screen and (min-width: 60em) {
    p:nth-of-type(8) {
      width: 48.9361702128%; } }
  @media screen and (min-width: 0) {
    p:nth-of-type(9) {
      width: 236.3636363636%; } }
  @media screen and (min-width: 30em) {
    p:nth-of-type(9) {
      width: 152.9411764706%; } }
  @media screen and (min-width: 40em) {
    p:nth-of-type(9) {
      width: 113.0434782609%; } }
  @media screen and (min-width: 50em) {
    p:nth-of-type(9) {
      width: 74.2857142857%; } }
  @media screen and (min-width: 60em) {
    p:nth-of-type(9) {
      width: 55.3191489362%; } }
  @media screen and (min-width: 0) {
    p:nth-of-type(10) {
      width: 263.6363636364%; } }
  @media screen and (min-width: 30em) {
    p:nth-of-type(10) {
      width: 170.5882352941%; } }
  @media screen and (min-width: 40em) {
    p:nth-of-type(10) {
      width: 126.0869565217%; } }
  @media screen and (min-width: 50em) {
    p:nth-of-type(10) {
      width: 82.8571428571%; } }
  @media screen and (min-width: 60em) {
    p:nth-of-type(10) {
      width: 61.7021276596%; } }
  @media screen and (min-width: 0) {
    p:nth-of-type(11) {
      width: 290.9090909091%; } }
  @media screen and (min-width: 30em) {
    p:nth-of-type(11) {
      width: 188.2352941176%; } }
  @media screen and (min-width: 40em) {
    p:nth-of-type(11) {
      width: 139.1304347826%; } }
  @media screen and (min-width: 50em) {
    p:nth-of-type(11) {
      width: 91.4285714286%; } }
  @media screen and (min-width: 60em) {
    p:nth-of-type(11) {
      width: 68.085106383%; } }
  @media screen and (min-width: 0) {
    p:nth-of-type(12) {
      width: 318.1818181818%; } }
  @media screen and (min-width: 30em) {
    p:nth-of-type(12) {
      width: 205.8823529412%; } }
  @media screen and (min-width: 40em) {
    p:nth-of-type(12) {
      width: 152.1739130435%; } }
  @media screen and (min-width: 50em) {
    p:nth-of-type(12) {
      width: 100%; } }
  @media screen and (min-width: 60em) {
    p:nth-of-type(12) {
      width: 74.4680851064%; } }

/*# sourceMappingURL=main.css.map */
